<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="fixedass.barcode.com.fixed_ass_app"
    android:installLocation="preferExternal">

    <!-- 网络通信权限 -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/zclogo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".activity.LoginActivity"
            android:windowSoftInputMode="adjustPan|stateHidden">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activity.MainActivity"/>
        <activity android:name=".activity.LoadDataActivity"
            android:windowSoftInputMode="adjustPan|stateHidden" />
        <activity android:name=".activity.CheckDataActivity"
            android:windowSoftInputMode="adjustPan|stateHidden"/>
        <activity android:name=".activity.InquiryCheckActivity"/>
        <activity android:name=".activity.InquiryAssActivity"
            android:windowSoftInputMode="adjustPan|stateHidden"/>
        <activity android:name=".activity.AboutUsActivity"
            android:windowSoftInputMode="adjustPan|stateHidden" />
        <activity android:name=".activity.CountDataActivity"
            android:windowSoftInputMode="adjustPan|stateHidden" />
    </application>

</manifest>